/* ==UserStyle==
@name         WaniKani Breeze Dark 2
@description  Dark mode for WaniKani, successor to Breeze Dark.
@namespace    breezedark.two
@version      0.6.2
@supportURL   https://github.com/leohumnew/wanikani-breeze-dark-2/issues
@author       leohumnew

@var          select   grid-location-rm             "Location of recent mistakes" {'Top*':'2 / 3', 'Middle':'3 / 4', 'Bottom':'4 / 5', 'Hide': 'none'}
@var          select   grid-location-es             "Location of extra study" {'Top':'2 / 3', 'Middle*':'3 / 4', 'Bottom':'4 / 5', 'Hide': 'none'}
@var          select   grid-location-lp             "Location of level progress" {'Top':'2 / 3', 'Middle':'3 / 4', 'Bottom*':'4 / 5', 'Hide': 'none'}
@advanced     dropdown settings-minimize-rm    "Recent Mistakes Size" {
    rm-def "Default" <<<EOT
    EOT;
    rm-min "Reduced" <<<EOT
        .recent-mistakes-dashboard__content { display: none }
        .recent-mistakes-dashboard__buttons { margin-top: 0 }
        .dashboard-panel--recent-mistakes { min-height: 4em }
        .dashboard-panel--recent-mistakes { flex-direction: row }
        .recent-mistakes-dashboard__button a { font-size: var(--font-size-xsmall) }
    EOT;
}
@advanced     dropdown settings-minimize-es    "Extra Study Size" {
    es-def "Default" <<<EOT
    EOT;
    es-min "Reduced" <<<EOT
        .extra-study__image-wrapper, .extra-study__info .wk-text, .extra-study-button__tooltip-button { display: none }
        .extra-study-button { margin: 0 0 0 10px }
        .extra-study__buttons {
            display: flex;
            flex-direction: row;
        }
        .dashboard-panel--extra-study { flex-direction: row }
        .extra-study {
            padding: 0;
            justify-content: flex-end;
            background-color: var(--color-dashboard-panel-background);
        }
        .extra-study__info {
            flex: inherit; }
    EOT;
}
@advanced     dropdown settings-dashboard-colors    "Dashboard Colours" {
    bg-dark "Default" <<<EOT
    EOT;
    bg-colored "Colourful" <<<EOT
        .lessons-and-reviews__lessons-button { background-color: color-mix(in srgb, var(--color-kanji) 60%, #000 40%); }
        .lessons-and-reviews__lessons-button:hover { background-color: color-mix(in srgb, var(--color-kanji) 70%, #000 30%); }
        .lessons-and-reviews__reviews-button { background-color: color-mix(in srgb, var(--color-radical) 60%, #000 40%); }
        .lessons-and-reviews__reviews-button:hover { background-color: color-mix(in srgb, var(--color-radical) 70%, #000 30%); }
        .lessons-and-reviews__reviews-button--0, .lessons-and-reviews__lessons-button--0 { background-color: var(--color-dashboard-panel-background); }
        .lessons-and-reviews__reviews-button--0:hover, .lessons-and-reviews__lessons-button--0:hover { background-color: var(--color-dashboard-panel-background); }
        section.srs-progress ul li, section.srs-progress ul li span { color: var(--color-text-dark) !important; }
        section.srs-progress ul li:first-child { background-color: var(--color-apprentice) !important; }
        section.srs-progress ul li:nth-child(2) { background-color: var(--color-guru) !important; }
        section.srs-progress ul li:nth-child(3) { background-color: var(--color-master) !important; }
        section.srs-progress ul li:nth-child(4) { background-color: var(--color-enlightened) !important; }
        section.srs-progress ul li:nth-child(5), section.srs-progress ul li:nth-child(5) span { background-color: var(--color-burned) !important; color: var(--color-text) !important; }
    EOT;
}
@advanced     dropdown settings-swap-quiz-colors    "Quiz Header and Character Colours" {
    bg-dark "Default" <<<EOT
    EOT;
    bg-colored "Colourful" <<<EOT
        .character-header--radical { background-color: var(--color-radical) }
        .character-header--kanji { background-color: var(--color-kanji) }
        .character-header--vocabulary { background-color: var(--color-vocabulary) }
        .character-header--radical .character-header__characters, .character-header--kanji .character-header__characters, .character-header--vocabulary .character-header__characters, .character-header .character-header__menu div, .character-header .character-header__menu div i {
            color: var(--color-text-dark); }
        .character-header--radical .character-header__character-image {
            --color-text: var(--color-text-dark); }
    EOT;
}
@advanced     dropdown settings-swap-srs-colors    "Invert SRS Popup Colours" {
    bg-coloured "Colourful" <<<EOT
    EOT;
    bg-dark "Dark" <<<EOT
        --color-quiz-srs-correct-background: var(--color-dashboard-panel-background);
        --color-quiz-srs-correct-text-color: var(--color-correct);
        --color-quiz-srs-incorrect-background: var(--color-dashboard-panel-background);
        --color-quiz-srs-incorrect-text-color: var(--color-incorrect);
    EOT;
}
@var          color    settings-color-text          "Text Color"         #e3e3e3
@var          color    settings-color-text-dark     "Inverse Text Color" #222
@var          color    settings-color-background1   "Background 1 Color" #232629
@var          color    settings-color-background2   "Background 2 Color" #31363b
@var          color    settings-color-tertiary      "Highlight Color"    #B3C8DD
@var          color    settings-color-correct       "Correct Color"      #245a12
@var          color    settings-color-incorrect     "Incorrect Color"    #b31e3b
@var          color    settings-color-menu          "Menu Dropdown Color" #4d4d4d
@var          color    settings-color-radical       "Radical Color"      #3DAEE9
@var          color    settings-color-kanji         "Kanji Color"        #fdbc4b
@var          color    settings-color-vocabulary    "Vocab Color"        #2ecc71
@var          color    settings-color-apprentice    "Apprentice Color"   #3daee9
@var          color    settings-color-guru          "Guru Color"         #2ecc71
@var          color    settings-color-master        "Master Color"       #c9ce3b
@var          color    settings-color-enlightened   "Enlightened Color"  #f17607
@var          color    settings-color-burned        "Burned Color"       #3c3c3c
@var          color    settings-color-locked        "Locked Color"       #aeaeae
@var          color    settings-color-reading       "Reading Banner Color" #4d4d4d
@var          color    settings-color-meaning       "Meaning Banner Color" #31363b
==/UserStyle== */
@charset "UTF-8";

@-moz-document domain("www.wanikani.com") {

/*-------------- Root variables --------------*/
    :root {
        color-scheme: dark;
        --color-tertiary: /*[[settings-color-tertiary]]*/;
        --color-text-mid: #9e9e9e;
        --color-correct: /*[[settings-color-correct]]*/;
        --color-incorrect: /*[[settings-color-incorrect]]*/;
        
        /*---- WaniKani style variables ----*/
        /* General colors */
        --color-text: /*[[settings-color-text]]*/;
        --color-link: #e6e6e6;
        --color-link-active: var(--color-tertiary);

        --color-dashboard-panel-background: /*[[settings-color-background1]]*/;
        --color-dashboard-panel-content-background: /*[[settings-color-background2]]*/;

        /* Extra study colors */
        --color-extra-study-tooltip-background: var(--color-dashboard-panel-background);
        --color-extra-study-button-border: var(--color-button-default-border);
        --color-extra-study-button-hover: var(--color-tertiary);
        --color-extra-study-button-active: var(--color-tertiary);
        --color-extra-study-button-disabled: var(--color-text-mid);

        /* Character colors */
        --color-kanji: /*[[settings-color-kanji]]*/;
        --color-kanji-dark: color-mix(in srgb, var(--color-kanji) 90%, #000 10%);
        --color-radical: /*[[settings-color-radical]]*/;
        --color-radical-dark: color-mix(in srgb, var(--color-radical) 90%, #000 10%);
        --color-vocabulary: /*[[settings-color-vocabulary]]*/;
        --color-vocabulary-dark: color-mix(in srgb, var(--color-vocabulary) 90%, #000 10%);
        --color-locked: /*[[settings-color-locked]]*/;
        --color-locked-dark: color-mix(in srgb, var(--color-locked) 90%, #000 10%);
        --color-apprentice: /*[[settings-color-apprentice]]*/;
        --color-guru: /*[[settings-color-guru]]*/;
        --color-master: /*[[settings-color-master]]*/;
        --color-enlightened: /*[[settings-color-enlightened]]*/;
        --color-burned: /*[[settings-color-burned]]*/;
        --color-burned-dark: color-mix(in srgb, var(--color-burned) 90%, #000 10%);
        
        /* Level progress bar colors */
        --color-level-progress-bar-progress: var(--color-tertiary);
        --color-level-progress-bar-background: var(--color-dashboard-panel-content-background);
        --color-level-progress-bar-text: var(--color-text);
        --color-level-progress-bar-progress-text: var(--color-text-dark);

        /* Other dashboard colors */
        --color-review-forecast-divider: var(--color-dashboard-panel-content-background);
        --color-review-forecast-bar: var(--color-tertiary);
        --color-review-forecast-increase-sign: var(--color-text);
        
        /* Reviews */
        --color-quiz-input-background: var(--color-dashboard-panel-background);
        --color-quiz-input-focus: var(--color-tertiary);
        --color-quiz-incorrect-background: var(--color-incorrect);
        --color-quiz-incorrect-text-color: var(--color-text);
        --color-quiz-correct-background: var(--color-correct);
        --color-quiz-correct-text-color: var(--color-text);
        --color-quiz-srs-correct-background: var(--color-correct);
        --color-quiz-srs-correct-text-color: var(--color-text);
        --color-quiz-srs-incorrect-background: var(--color-incorrect);
        --color-quiz-srs-incorrect-text-color: var(--color-text);
        --color-button-default-border: var(--color-text-mid);
        --color-button-default-hover-border: var(--color-tertiary);
        --color-button-default-text: var(--color-text);
        --color-button-default-hover-text: var(--color-tertiary);
        --color-button-default-active-text: var(--color-tertiary);
        --color-modal-background: var(--color-dashboard-panel-background); /* v New WaniKani variables, used in synonyms box */
        --color-input-background: var(--color-dashboard-panel-content-background);
        --color-input-focus-border: var(--color-tertiary);
        --color-button-synonym-background: var(--color-dashboard-panel-content-background);
        --color-button-synonym-text: var(--color-text);
        --color-button-synonym-hover-background: var(--color-dashboard-panel-content-background);
        --color-button-synonym-hover-border: var(--color-tertiary);
        --color-button-synonym-hover-text: var(--color-tertiary);
        --color-button-icon-only-hover-text: var(--color-tertiary);
        --color-button-icon-only-hover-background: #0000;
        
        /* lessons */
        --color-subject-slide-navigation-button-hover: var(--color-menu);
        --color-subject-slide-navigation-background: var(--color-dashboard-panel-content-background);
        --color-button-quiz-text: var(--color-text-dark);
        --color-button-quiz-background: var(--color-vocabulary);
        --color-button-modal-primary-background: var(--color-dashboard-panel-content-background);
        --color-button-modal-primary-text: var(--color-text);
        --color-button-modal-secondary-border: var(--color-tertiary);
        --color-button-modal-secondary-hover-border: var(--color-tertiary);
        --color-button-modal-secondary-hover-text: var(--color-tertiary);

        /* About */
        --color-about-page-image-focus-border: 5px solid var(--color-dashboard-panel-content-background);

        /*---- Extra style variables ----*/
        --color-text-dark: /*[[settings-color-text-dark]]*/;
        --color-menu: /*[[settings-color-menu]]*/;
        --color-meaning: /*[[settings-color-meaning]]*/;
        --color-reading: /*[[settings-color-reading]]*/;
        /*[[settings-swap-srs-colors]]*/
    }

    /*-------------- Image inversion --------------*/
    .extra-study img {
        filter: invert(81%) sepia(9%) saturate(582%) hue-rotate(169deg) brightness(96%) contrast(93%);
    }
    .review-forecast__empty-image {
        filter: invert(89%) sepia(11%) saturate(526%) hue-rotate(169deg) brightness(99%) contrast(90%);
    }
    .global-header .logo, footer ul li:last-child {
        filter: brightness(80%) hue-rotate(226deg);
    }
    .community-banner__image-wrapper img {
        filter: saturate(0%) invert(14%) sepia(20%) saturate(290%) hue-rotate(173deg) brightness(86%) contrast(102%);
    }

    /*-------------- Other CSS --------------*/
    * {
        text-shadow: none !important;
    }

    body {
        background: var(--color-dashboard-panel-content-background) }

    a {
        color: var(--color-link) }
    
    select {
        background-color: var(--color-dashboard-panel-content-background);
        color: var(--color-text);
    }
    
    textarea, textarea[disabled], input[name^="user["], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
        background-color: var(--color-dashboard-panel-content-background);
        color: var(--color-text);
    }
    .btn {
        background: transparent;
        color: var(--color-text);
        border-color: var(--color-tertiary);
    }
    .btn:hover {
        background: transparent;
        border-color: var(--color-tertiary);
        color: var(--color-tertiary);
    }
    
    ul.multi-character-grid li[class|=radical] { border-color: var(--color-radical) }
    ul.multi-character-grid li[class|=kanji] { border-color: var(--color-kanji) }
    ul.multi-character-grid li[class|=vocabulary] { border-color: var(--color-vocabulary) }
    
    /*---- Lessons ----*/
    .subject-slide {
        background-color: var(--color-dashboard-panel-background);
        border: none;
        box-shadow: 2px 2px 3px #000;
    }
    .subject-slides__navigation-link[aria-selected=true]:after { border-bottom-color: var(--color-dashboard-panel-background) }
    .subject-slides__navigation { box-shadow: 2px 2px 3px #000 }
    
    .lesson-container .subject-character__meaning { color: var(--color-text) }
    
    .lesson-container .wk-hint, .lesson-container .wk-hint h3 {
        border-radius: 5px;
        background-color: var(--color-dashboard-panel-content-background);;
        color: var(--color-text);
    }
    #user_synonyms .wk-button {
        width: auto }
    
    /*---- Settings ----*/
    .settings-section {
        box-shadow: none;
        background-color: var(--color-dashboard-panel-background); }
    .page-list ul {
        background-color: var(--color-dashboard-panel-content-background) }
    .page-list ul li a{
        background-color: var(--color-dashboard-panel-background);
        border: none;
        margin-left: 3px;
    }
    .wk-modal__window {
        background-color: var(--color-menu);
        color: var(--color-text);
    }
    .personal-access-token-permission__description {
        color: var(--color-text) }
    
    .account div div div {
        background-color: var(--color-dashboard-panel-background) }
    .account dl {
        color: var(--color-text) }
    .account a:hover {
        background-color: var(--color-dashboard-panel-content-background) }

    /*---- Profile Page ----*/
    html#public-profile div.wall-of-shame { background-color: var(--color-dashboard-panel-content-background)}
    html#public-profile div.wall-of-shame h3 span {color: var(--color-text-dark)}
    .kanji-progress, .vocabulary-progress {
        background-color: var(--color-dashboard-panel-background);
        padding: 10px 25px;
    }
    .kanji-progress { border-radius: 5px 5px 0 0}
    .vocabulary-progress { border-radius: 0 0 5px 5px}
    html#public-profile div.wall-of-shame .progress {
        background-color: var(--color-dashboard-panel-background);
        background-image: none;
    }
    html#public-profile div.wall-of-shame span.kanji-icon, html#public-profile div.wall-of-shame span.vocabulary-icon {
        box-shadow: none;
        color: var(--color-text-dark);
        background-image: none;
    }
    html#public-profile div.wall-of-shame span.kanji-icon { background-color: var(--color-kanji) }
    html#public-profile div.wall-of-shame span.vocabulary-icon { background-color: var(--color-vocabulary) }
    html#public-profile .progress .bar span { color: var(--color-text-dark) }
    html#public-profile div.wall-of-shame h3 span {
        background-color: var(--color-dashboard-panel-background);
        color: var(--color-text);
        box-shadow: none;
    }
    
    /*---- Item lists ----*/
    .subject-legend, .character-grid__header {
        background-color: var(--color-dashboard-panel-background) }
    
    .subject-legend__item-badge--all,
    .subject-legend__item-badge--radicals {
        background-color: var(--color-radical);
        color: var(--color-text-dark);
        box-shadow: none;
    }
    .subject-legend__item-badge--kanji {
        color: var(--color-text-dark);
        background-color: var(--color-kanji);
        box-shadow: none;
    }
    .subject-legend__item-badge--vocabulary {
        color: var(--color-text-dark);
        background-color: var(--color-vocabulary);
        box-shadow: none;
    }
    .subject-legend__item-badge--burned {
        background-color: var(--color-burned);
        box-shadow: none;
    }
    .subject-legend__item-badge--recently-unlocked {
        box-shadow: none }
    .subject-legend__item-badge--locked {
        filter: brightness(80%) }
    
    /*---- Item Page ----*/
    .wk-nav__item-link, .wk-nav__item-link:visited {
        background-color: var(--color-dashboard-panel-content-background);
        color: var(--color-text-mid);
        border: none;
        text-decoration: none;
    }
    .wk-nav__item-link:hover {
        background-color: var(--color-menu);
        color: var(--color-text);
        text-decoration: none;
    }
    
    div.site-content-container:not(.dashboard) .container {
        background-color: var(--color-dashboard-panel-background);
        padding: 25px;
        box-shadow: 3px 3px 3px #171717;
        border-radius: 0 0 5px 5px;
        margin-bottom: 25px;
    }
    .search--open { margin-top: 0 }
    .page-header__icon--level { color: var(--color-text-dark) }
    .page-header__icon {
        box-shadow: none;
        background-image: none;
        color: var(--color-text-dark);
    }
    .page-header__icon--radical { background-color: var(--color-radical) }
    .page-header__icon--kanji { background-color: var(--color-kanji) }
    .page-header__icon--vocabulary { background-color: var(--color-vocabulary) }
    .page-header__icon--radical:hover, .page-header__icon--kanji:hover, .page-header__icon--vocabulary:hover {
        box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset, 0 0 10px rgba(0,0,0,0.5); }
    
    .progress, .progress-bar { background-color: var(--color-dashboard-panel-content-background) }
    .progress-bar__bar { box-shadow: 2px 0px 3px #000}
    .progress-bar__label {
        color: var(--color-text-dark);
        background-color: var(--color-tertiary);
        box-shadow: none;
    }
    .progress-bar__label:before { display: none }
    .progress-bar__label:after {
        border-top-color: var(--color-tertiary);
        transform: translateX(-45%);
    }
    .subject-progress__streak-value { background-color: var(--color-dashboard-panel-content-background)}

    /*---- Terms ----*/
    .terms-of-service .short-version {
        background-color: var(--color-dashboard-panel-background);
        color: var(--color-text);
    }
    h2::before {
        background-color: var(--color-text-mid) }

    /*---- Reviews ----*/
    /* Header - takes into account settings boolean to swap background and character colours */
    .character-header .character-header__menu div, .character-header .character-header__menu div i {
        color: var(--color-text) }
    .character-header--radical, .character-header--kanji, .character-header--vocabulary {
        background-image: none }
    .character-header--radical .character-header__characters { color: var(--color-radical) }
    .character-header--radical .character-header__character-image { --color-text: var(--color-radical) }
    .character-header--kanji .character-header__characters { color: var(--color-kanji) }
    .character-header--vocabulary .character-header__characters { color: var(--color-vocabulary) }

    .character-header--vocabulary, .character-header--kanji, .character-header--radical {
        background-color: var(--color-dashboard-panel-background) }

    /* Quiz input */
    .quiz-input__question-type-container[data-question-type=meaning] {
        background-image: none;
        background-color: var(--color-meaning);
        color: var(--color-text);
        border: none;
        box-shadow: 2px 2px 3px #000;
    }
    .quiz-input__question-type-container[data-question-type=reading] {
        background-image: none;
        background-color: var(--color-reading);
        color: var(--color-text);
        border: none;
        box-shadow: 2px 2px 3px #000;
    }
        
    .quiz-input__input {
        box-shadow: 2px 2px 3px 0 #000;
        border: none;
    }
        
    /* Section Buttons */
    .additional-content__item {
        background-color: var(--color-dashboard-panel-background);
        box-shadow: 2px 2px 3px #000;
        color: var(--color-text);
        border: none;
    }
    .additional-content__item--disabled i {
        opacity: 0.3; }
        
    /* Advice Popup */
    .answer-exception, .quiz-input__exception {
        background-color: var(--color-menu);
        color: var(--color-text);
        box-shadow: 2px 2px 3px 0 #000;
        border-radius: 5px;
        top: 55px;
    }
    .answer-exception:before, .quiz-input__exception:before {
        border-color: rgba(0,0,0,0) rgba(0,0,0,0) var(--color-menu) rgba(0,0,0,0) }
    .quiz-input__exception {
        border-radius: 5px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7), 2px 2px 2px rgba(0, 0, 0, 0.7) !important;
        position: fixed;
        top: 190px;
    }
    .quiz-input__exception-container { padding: 0 }
        
    /* Info Box General */
    .subject-info[busy]:after {
        background-color: var(--color-dashboard-panel-background) }
    .additional-content__content {
        margin-top: 16px;
        background-color: var(--color-dashboard-panel-background);
        border-radius: 5px;
        box-shadow: 2px 2px 3px #000;
        border: none;
    }
    .additional-content__item--open:after {
        border-color: rgba(0,0,0,0) rgba(0,0,0,0) var(--color-dashboard-panel-background) rgba(0,0,0,0);
        bottom: -20px
    }

    .radical-highlight { 
        background-color: var(--color-radical);
        background-image: linear-gradient(to bottom, var(--color-radical), var(--color-radical-dark));
        color: var(--color-text-dark);
        box-shadow: none;
    }
    .kanji-highlight { 
        background-color: var(--color-kanji);
        background-image: linear-gradient(to bottom, var(--color-kanji), var(--color-kanji-dark));
        color: var(--color-text-dark);
        box-shadow: none;
    }
    .vocabulary-highlight { 
        background-color: var(--color-vocabulary);
        background-image: linear-gradient(to bottom, var(--color-vocabulary), var(--color-vocabulary-dark));
        color: var(--color-text-dark);
        box-shadow: none;
    }
    .reading-highlight { 
        background-color: var(--color-reading);
        background-image: none;
        color: var(--color-text);
        box-shadow: none;
    }
    .meaning-highlight { 
        background-color: var(--color-meaning);
        background-image: none;
        color: var(--color-text);
        box-shadow: none;
    }
    
    .reading-highlight:hover:before, .meaning-highlight:hover:before, .vocabulary-highlight:hover:before, .kanji-highlight:hover:before, .radical-highlight:hover:before {
        color: var(--color-text);
        background-color: var(--color-menu);
    }
    .reading-highlight:hover:after, .meaning-highlight:hover:after, .vocabulary-highlight:hover:after, .kanji-highlight:hover:after, .radical-highlight:hover:after {
        border-top-color: var(--color-menu) }
        
    .subject-section__title { border-color: var(--color-dashboard-panel-content-background) }

    /* Info - Components */
    .component-character span {
        box-shadow: none;
        color: var(--text-color);
    }
    .component-character--radical {
        background-color: var(--color-radical);
        background-image: linear-gradient(to bottom, var(--color-radical), var(--color-radical-dark));
    }
    .components-list .component-character--radical {
        padding-right: 8px;
        border-radius: 5px;
        color: var(--color-text-dark);
    }
    .components-list .component-character--burned span:first-child {
        background-color: var(--color-burned);
        background-image: none;
        box-shadow: none;
        color: var(--color-text)
    }
        
    .subject-hint, .subject-hint h3 {
        border-radius: 5px;
        background-color: var(--color-dashboard-panel-content-background);;
        color: var(--color-text);
    }

    .character-item { color: var(--color-text-dark) }
    .character-item--radical:not(.character-item--burned) .radical-image {
        --color-text: var(--color-text-dark) }
    .character-item:hover .radical-image {
        filter: none }
    .character-item--radical {
        background-color: var(--color-radical);
        background-image: linear-gradient(to bottom, var(--color-radical), var(--color-radical-dark));
        border-color: var(--color-radical) rgba(0,0,0,0) var(--color-radical-dark) var(--color-radical)
    }
    .character-item--kanji {
        background-color: var(--color-kanji);
        background-image: linear-gradient(to bottom, var(--color-kanji), var(--color-kanji-dark));
        border-color: var(--color-kanji) rgba(0,0,0,0) var(--color-kanji-dark) var(--color-kanji)
    }
    .character-item--vocabulary {
        background-color: var(--color-vocabulary);
        background-image: linear-gradient(to bottom, var(--color-vocabulary), var(--color-vocabulary-dark));
        border-width: 1px 0;
        border-color: var(--color-vocabulary) rgba(0,0,0,0) var(--color-vocabulary-dark) var(--color-vocabulary)
    }
    .character-item--burned {
        background-color: var(--color-burned);
        background-image: linear-gradient(to bottom, var(--color-burned), var(--color-burned-dark));
        border-color: var(--color-burned) rgba(0,0,0,0) var(--color-burned-dark) var(--color-burned);
        color: var(--color-text);
    }
    .character-item--burned .radical-image {
        opacity: 1 }
    .character-item--locked {
        background-image: url(https://assets.wanikani.com/assets/stripes-b1fe3954592c3890ba1c7f411696ba17e267470fee29b9eafd83a4b50950a66f.png);
        filter: brightness(70%);
        background-repeat: repeat;
    }
    .character-item__badge {
        box-shadow: none }
        
    /* Info - Meanings / Synonyms */
    #user_synonyms a {
        padding: 6px;
        font-size: var(--font-size-xsmall);
    }

    .subject-section__meanings-title {
        margin-top: auto;
        margin-bottom: auto;
    }
    .subject-section--meaning .subject-section__content .subject-section__subsection:first-child .subject-section__meanings:first-child .subject-section__meanings-items {
        background-color: var(--color-menu);
        padding: 4px;
        border-radius: 5px;
    }

    @media (min-width: 1400px) { /* Better review info layout on larger screens */
        .quiz .subject-section--meaning .subject-section__content:not([hidden]), .quiz .subject-section--reading .subject-section__content:not([hidden]) {
            display: grid;
            grid-template-columns: 0.5fr 1fr;
            grid-template-rows: auto;
        }
        .quiz .subject-section--meaning .subject-section__content .subject-section__subsection:nth-child(2), .quiz .subject-section--reading .subject-section__content .subject-section__subsection:nth-child(2) {
            margin-top: 5px;
        }
        .quiz .subject-section--meaning .subject-section__content .subject-section__subsection:nth-child(1), .quiz .subject-section--reading .subject-section__content .subject-section__subsection:nth-child(1) {
            border-right: 1px solid var(--color-dashboard-panel-content-background);
            margin-right: 30px;
            margin-bottom: 20px;
        }
        .quiz .subject-section--meaning .subject-section__content .subject-section__subsection:nth-child(3), .quiz .subject-section--reading .subject-section__content .subject-section__subsection:nth-child(3) {
            grid-column: 1 / span 2;
            grid-row: 2 / 2;
            background-color: var(--color-dashboard-panel-content-background);
            padding: 8px;
            padding-left: 15px;
            border-radius:5px;
            box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.7);
            margin-bottom: 0;
        }
        .quiz .subject-section--meaning .subject-section__content .subject-section__subsection:nth-child(3) h3, .quiz .subject-section--reading .subject-section__content .subject-section__subsection:nth-child(3) h3 {
            font-variant-caps: all-small-caps;
            font-weight: bold;
        }
        .quiz .subject-readings-with-audio__item {
            margin-bottom: 0 }
    }
        
    .user-note__link {
        color: var(--color-text) }
    .user-note__fields, .user-note__fields textarea, .user-note__button, .user-note__button:visited {
        color: var(--color-text);
        background-color: var(--color-dashboard-panel-content-background)
    }
    .user-note__button:hover {
        color: var(--color-tertiary) }
        
    /* Info - Patterns of Use */
    .subject-collocations__pattern-name {
        background-color: var(--color-dashboard-panel-content-background) }
    .subject-collocations__pattern-name[aria-selected=true] {
        background-color: var(--color-dashboard-panel-content-background);
        border: 1px solid var(--color-tertiary);
        border-right: none;
    }
    .subject-collocations__patterns:after {
        box-shadow: 0 0 5px rgba(0, 0, 0, .89) }
     .subject-info .subject-collocations__pattern-name[aria-selected=true]:after, .subject-collocations__pattern-name[aria-selected=true]:after {
        background-color: var(--color-dashboard-panel-background);
        box-shadow: 0 0 5px rgba(0, 0, 0, .89);
        background-image: none;
    }
        
    /* Kana Chart */
    .kana-chart__character, .kana-chart__backspace {background-color: var(--color-dashboard-panel-content-background); color: var(--color-text)}
    .kana-chart__character:hover, .kana-chart__backspace:hover, .kana-chart__tab:not(.kana-chart__tab--selected):hover {
        background-color: var(--color-dashboard-panel-content-background);
        color: var(--color-tertiary);
    }
    .kana-chart__tab:not(.kana-chart__tab--selected) { border-bottom-color: var(--color-dashboard-panel-content-background)}
    .kana-chart__tab--selected { border-color: var(--color-dashboard-panel-content-background) var(--color-dashboard-panel-content-background) rgba(0,0,0,0) var(--color-dashboard-panel-content-background)}
    
    /* Last 10 */
    .last-item {
        background-color: var(--color-dashboard-panel-content-background);
        box-shadow: none;
    }
    .last-item span:not(.last-item__label) {
        color: var(--color-text) }
    .last-item .last-item__label {
        color: var(--color-text-mid) }
    .last-item span.last-item__characters { color: var(--color-text-dark) }
    .last-item__characters--radical { background-color: var(--color-radical) }
    .last-item__characters--kanji { background-color: var(--color-kanji) }
    .last-item__characters--vocabulary { background-color: var(--color-vocabulary) }
        
    /* Footer Buttons */
    .quiz-footer a, .quiz-footer a div {
        background-color: var(--color-dashboard-panel-background);
        color: var(--color-text);
    }

    /*---- Dashboard ----*/
    /* Header */
    .global-header {
        background: none;
        background-color: var(--color-dashboard-panel-background);
        border-bottom: 0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.7);
    }
    .sitemap__section-header {
        color: var(--text-color) }
    .sitemap { /* Mobile-size menu */
        background-color: var(--color-dashboard-panel-background);
    }
    .navigation__toggle[data-expanded="true"] {
        background-color: var(--color-dashboard-panel-background) }
        
    .navigation-shortcut__button, .navigation-shortcut__link {
        color: var(--text-color);
        border-color: var(--color-dashboard-panel-content-background);
    }
    .navigation-shortcut__button:hover, .navigation-shortcut__link:hover {
        color: var(--text-color);
        border-color: color-mix(in srgb, var(--color-tertiary) 25%, #0000 75%);
    }
    .navigation-shortcut__button:focus, .navigation-shortcut__link:focus {
        color: var(--text-color);
        border-color: var(--color-tertiary);
    }
    .navigation-shortcut__count {
        background: var(--color-tertiary);
        color: var(--color-text-dark);
    }
    .navigation-shortcut a.fcr_burn {
        background-color: transparent;
    }
        
    @media only screen and (min-width: 1024px) { /* Navigation menu buttons hover colours */
        .sitemap__section-header:hover {
            border-color: color-mix(in srgb, var(--color-tertiary) 25%, #0000 75%) }
        .sitemap__section-header:focus, .sitemap__section--open .sitemap__section-header {
            border-color: var(--color-tertiary) }
        
        .sitemap__section-header--radicals:hover, .sitemap__section-header--radicals:focus, .sitemap__section-header--radicals[data-expanded="true"], .sitemap__section--open .sitemap__section-header--radicals {
            color: var(--color-radical) }
        .sitemap__section-header--radicals:hover {
            border-color: color-mix(in srgb, var(--color-radical) 25%, #0000 75%) }
        .sitemap__section-header--radicals[data-expanded="true"],.sitemap__section-header--radicals:focus, .sitemap__section--open .sitemap__section-header--radicals {
            border-color: var(--color-radical) }

        .sitemap__section-header--kanji:hover, .sitemap__section-header--kanji:focus, .sitemap__section-header--kanji[data-expanded="true"], .sitemap__section--open .sitemap__section-header--kanji {
            color: var(--color-kanji) }
        .sitemap__section-header--kanji:hover {
            border-color: color-mix(in srgb, var(--color-kanji) 25%, #0000 75%) }
        .sitemap__section-header--kanji[data-expanded="true"], .sitemap__section-header--kanji:focus, .sitemap__section--open .sitemap__section-header--kanji {
            border-color: var(--color-kanji) }

        .sitemap__section-header--vocabulary:hover, .sitemap__section-header--vocabulary:focus, .sitemap__section-header--vocabulary[data-expanded="true"], .sitemap__section--open .sitemap__section-header--vocabulary {
            color: var(--color-vocabulary) }
        .sitemap__section-header--vocabulary:hover {
            border-color: color-mix(in srgb, var(--color-vocabulary) 25%, #0000 75%) }
        .sitemap__section-header--vocabulary[data-expanded="true"], .sitemap__section-header--vocabulary:focus, .sitemap__section--open .sitemap__section-header--vocabulary {
            border-color: var(--color-vocabulary) }
    }
    .sitemap__section-header--subsection { color: var(--color-text-mid) }
    .sitemap__section-header--subsection:hover { border-color: transparent; }
    .sitemap__expandable-chunk, .sitemap__expandable-chunk--levels, .sitemap__expandable-chunk--levels:before, .sitemap__expandable-chunk:before {
        background: var(--color-menu) }
    .sitemap__expandable-chunk--radicals, .sitemap__expandable-chunk--radicals:before {
        background: var(--color-radical) }
    .sitemap__expandable-chunk--kanji, .sitemap__expandable-chunk--kanji:before {
        background: var(--color-kanji) }
    .sitemap__expandable-chunk--vocabulary, .sitemap__expandable-chunk--vocabulary:before {
        background: var(--color-vocabulary) }
    .sitemap__page span {
        color: var(--color-text-dark) !important }
        
    .search-form form .search-query, #query {
        background-color: var(--color-dashboard-panel-background);
        color: var(--color-text);
        border: 1px solid var(--color-tertiary);
    }
    .search-form button, .search__button {
        color: var(--color-text);
        background-color: var(--color-dashboard-panel-background);
        border: 1px solid transparent;
    }
        .search-form button:hover, .search__button:hover {
            border: 1px solid var(--color-tertiary);
        }
        #search__trigger:hover, .search-button:hover { border-color: color-mix(in srgb, var(--color-tertiary) 25%, #0000 75%)}
        #search__trigger:focus, .search-button:focus { border-color: transparent }
    
    /* Alerts */
    .dashboard section.system-alert, .dashboard section.alert-where-user-scripts-cant-ignore {
        background-color: var(--color-dashboard-panel-background);
        background-image: none;
        border: 2px solid var(--color-tertiary);
    }
    .dashboard section.system-alert time, .dashboard section.alert-where-user-scripts-cant-ignore time, .dashboard section.system-alert .close-alert, .dashboard section.alert-where-user-scripts-cant-ignore .close-alert {
        color: var(--color-tertiary) }

    /* Lessons / reviews buttons */
    .lessons-and-reviews__lessons-button, .lessons-and-reviews__reviews-button {
        background-color: var(--color-dashboard-panel-background);
        transition: 0.2s;
    }
        .lessons-and-reviews__button:hover {
            background-color: color-mix(in srgb, var(--color-tertiary) 15%, #2f2f2f 85%);
        }
        .lessons-and-reviews__button:focus {
            color: var(--color-text);
            text-decoration: none;
        }
        .lessons-and-reviews__button span {
            background-color: transparent;
            color: var(--color-text);
        }
        .lessons-and-reviews__button span.fcr_burn {
            background-color: var(--color-burned) }

    /* Review forecasts */
    @media (min-width: 768px) {
        .dashboard .progress-and-forecast .dashboard-panel--review-forecast .dashboard-panel__content {
            overflow-y: auto;
        }
    }
    #review-forecast::after {
        background-image: none;
        background-color: var(--color-dashboard-panel-background);
    }
    /* Entrance fade in animation */
    @keyframes fadeIn {  
        from {  
            opacity:0; }  
        to {  
            opacity:1; }  
    }
    /* Fade in each day in forecast to avoid pop-in */
    .review-forecast__day {
        opacity: 0;
        animation: fadeIn 0.1s ease-in-out forwards;
    }

    /* Moving divs */
    .dashboard .progress-and-forecast .dashboard-panel--recent-mistakes { grid-row: /*[[grid-location-rm]]*/; display: /*[[grid-location-rm]]*/;}
    .dashboard .progress-and-forecast .dashboard-panel--extra-study { grid-row: /*[[grid-location-es]]*/; display: /*[[grid-location-es]]*/;}
    .dashboard .progress-and-forecast .dashboard-panel--level-progress { grid-row: /*[[grid-location-lp]]*/; display: /*[[grid-location-lp]]*/;}
    @media (min-width: 768px) {
        .dashboard .progress-and-forecast .dashboard-panel--level-progress, .dashboard .progress-and-forecast .dashboard-panel--recent-mistakes, .dashboard .progress-and-forecast .dashboard-panel--review-forecast {
            margin: 0;
        }
        .dashboard .progress-and-forecast { margin-bottom: 30px; }
    }

    /* Level progress */
    span.subject-character__characters {
        color: var(--color-text-dark);
        border-radius: 5px !important;
        box-shadow: none !important;
    }
    .subject-character__character-image, .radical-image, .kotoba-table-list .radical-image {
        filter: invert(90%) !important }
    .component-character--burned .radical-image {
        filter: invert(0%) !important }
    .level-progress-dashboard__content-title h3 {
        border-color: var(--color-text);
    }

    /* Extra Study */
    .extra-study-button:hover {
        border-color: var(--color-tertiary) }

    /* Item levels */
    section.srs-progress ul li {
        background-image: none !important;
        background-color: var(--color-dashboard-panel-background) !important;
    }
        section.srs-progress ul li:first-child span { color: var(--color-apprentice); }
        section.srs-progress ul li:nth-child(2) span { color: var(--color-guru); }
        section.srs-progress ul li:nth-child(3) span { color: var(--color-master); }
        section.srs-progress ul li:nth-child(4) span { color: var(--color-enlightened); }
        section.srs-progress ul li:nth-child(5) span { color: var(--color-burned); }
    
    .popover.srs .popover-content ul li {
        background-image: none !important;
        border: none !important;
        color: var(--color-text-dark);
    }
    .popover.srs .popover-content ul li:first-child {
        background-color: var(--color-radical) }
    .popover.srs .popover-content ul li:nth-child(2) {
        background-color: var(--color-kanji) }
    .popover.srs .popover-content ul li:nth-child(3) {
        background-color: var(--color-vocabulary) }

    /* Item lists (new, critical, burned) */
    @media (min-width: 767px){ /* Make sections all reach the bottom of the row area if side-by-side on screen */
        .dashboard .row .span12 .row {
            display: flex;
            align-items: stretch;
            margin-bottom: 30px;
        }
        .kotoba-table-list {
            display: flex;
            flex-direction: column;
            min-height: 100%;
            position: relative ;
            border-radius: 5px;
        }
        .kotoba-table-list .see-more {
            bottom: 0;
            position: absolute;
            width: 100%;
        }
    }
        
    .kotoba-table-list table a span, .kotoba-table-list table { /* Fix all the colours */
        color: var(--color-text-dark) !important;
    }
    ul.single-character-grid li[class|=kanji],ul.single-character-grid tr[class|=kanji],ul.multi-character-grid li[class|=kanji],ul.multi-character-grid tr[class|=kanji],.kotoba-table-list li[class|=kanji],.kotoba-table-list tr[class|=kanji] {
        background-color: var(--color-kanji);
        background-image: linear-gradient(to bottom, var(--color-kanji), var(--color-kanji-dark));
    }
    ul.single-character-grid li[class|=radical],ul.single-character-grid tr[class|=radical],ul.multi-character-grid li[class|=radical],ul.multi-character-grid tr[class|=radical],.kotoba-table-list li[class|=radical],.kotoba-table-list tr[class|=radical] {
        background-color: var(--color-radical);;
        background-image: linear-gradient(to bottom, var(--color-radical), var(--color-radical-dark));
    }
    ul.single-character-grid li[class|=vocabulary],ul.single-character-grid tr[class|=vocabulary],ul.multi-character-grid li[class|=vocabulary],ul.multi-character-grid tr[class|=vocabulary],.kotoba-table-list li[class|=vocabulary],.kotoba-table-list tr[class|=vocabulary] {
        background-color: var(--color-vocabulary);
        background-image: linear-gradient(to bottom, var(--color-vocabulary), var(--color-vocabulary-dark));
    }
    .dashboard .fa-clock {
        color: var(--color-tertiary) }
    .dashboard table tr.none-available div {
        border-color: var(--color-tertiary) }
        
    /* Footers */
    .community-banner {
        background-color: var(--color-dashboard-panel-background);
        border: none;
    }


    /*-------- Multiple --------*/
    h1, html#public-profile div.wall-of-shame div.title, .community-banner__content p, h2, h3, h4, h5, h6 {
        color: var(--color-text);
    }

    [class|=account-subscription] h3, [class|=account-billing] h3, .kotoba-table-list, .kotoba-table-list h3, .kotoba-table-list div, .kotoba-table-list tr.none-available {
        background-color: var(--color-dashboard-panel-background) !important;
        color: var(--color-text);
    }

    .dashboard div.dashboard-panel--review-forecast, .kotoba-table-list div, .dashboard section.newbie, .dashboard section.upgrade, .dashboard section.system-alert, .dashboard section.alert-where-user-scripts-cant-ignore {
        box-shadow: none !important;
    }

    /*-------- Readers page --------*/
    .readers-list {
        background: var(--color-dashboard-panel-background) }
    .readers-list li {
        background-color: var(--color-dashboard-panel-content-background) }
    .readers-list__item {
        box-shadow: none }
    .reader-summary__title, .reader-summary__title:visited {
        color: var(--color-tertiary) }
    .reader-summary__title:hover {
        color: var(--color-tertiary) }
    .info-popover__button, .info-popover__button:focus, .info-popover__message {
        color: var(--color-text);
        background-color: var(--color-menu);
    }
    .info-popover__button:hover, .reader-bookmark:hover {
        color: var(--color-tertiary);
    }
    .info-popover__message a, .info-popover__message a:visited {
        color: var(--color-tertiary) }
    .reader {
        background-color: var(--color-dashboard-panel-content-background) }
    .reader__story {
        background-color: var(--color-dashboard-panel-background);
        padding: 30px;
        border-radius: 7px;
        max-width: 80ch;
    }
    .reader__content {
        color: var(--color-text) }
    .reader__nav-action--close .reader__nav-action-link {
        color: var(--color-text);
        background-color: var(--color-dashboard-panel-content-background);
    }
    .reader__nav-action--close .reader__nav-action-link:hover {
        color: var(--color-tertiary);
        background-color: var(--color-dashboard-panel-content-background);
    }
    .supporting-text__content, .supporting-text__toggle[aria-expanded=true] {
        background-color: var(--color-menu); }
    .supporting-text__toggle:hover {
        color: var(--color-tertiary);
        background: var(--color-dashboard-panel-content-background);
    }
    .supporting-text__toggle[aria-expanded=true]:hover {
        color: var(--color-tertiary);
        background: var(--color-menu);
    }
    .reader__nav-action .reader-completion__link:hover {
        color: var(--color-tertiary); }
    
    /* -------------- Settings -------------- */
    /*[[settings-dashboard-colors]]*/
    /*[[settings-swap-quiz-colors]]*/
    /*[[settings-minimize-rm]]*/
    /*[[settings-minimize-es]]*/
        
    /* -------------- Scripts -------------- */
    /* ---- Item Info Injector ---- */
    .item-info-injector-accordion > button, .item-info-injector > h2:not(.subject-section__meanings-title) {
        border-bottom: 1px solid var(--color-dashboard-panel-content-background) }
    .item-info-injector-accordion > button {
        color: var(--color-text) }
    
    /* Scripts Menu */
    #scripts-menu ul.dropdown-menu {
        background-color: var(--color-menu);
    }
    #scripts-menu ul.dropdown-menu > li, #scripts-menu ul.dropdown-menu > li a {
        color: var(--color-text)}
    #scripts-menu ul.dropdown-menu > li:hover:not(.scripts-header) a:hover {
        background-color: transparent}
    
    /* WKOF UI Dialog */
    #wkof_ds .ui-dialog, #wkof_ds .ui-dialog div:not(.color-label), #wkofs_ss_quiz .filters .row.checked {
        background-color: var(--color-menu);
        border: none;
        background-image: none;
        color: var(--color-text);
    }
    #wkof_ds .ui-dialog .ui-dialog-buttonpane {
        background-color: var(--color-menu);
        border: none;
    }
    #wkof_ds .wkof_settings .ui-tabs .ui-tabs-nav li a, #wkof_ds .ui-button {
        background-color: var(--color-menu);
        color: var(--color-text);
    }
    #wkof_ds .wkof_settings .ui-tabs .ui-tabs-nav li a:hover, #wkof_ds .ui-button:hover {
        color: var(--color-tertiary) }
    #wkof_ds .wkof_settings .ui-tabs .ui-tabs-nav li.ui-tabs-active, #wkof_ds .ui-button:hover { 
        background-color: var(--color-menu) }
    
    /* Extra study */
    #wkof_ds #ss_quiz .answer input {
        background-color: var(--color-dashboard-panel-content-background);
        border: none;
    }
    #wkof_ds #ss_quiz .answer input:focus {
        box-shadow: 0 0 2px 2px var(--color-tertiary);
    }
    #wkof_ds #ss_quiz .answer {
        background-color: var(--color-dashboard-panel-background) }
    #ss_quiz[data-atype="meaning"] .atype {
        background-color: var(--color-meaning);
        background-image: none;
        color: var(--color-text-mid);
        border: none;
    }
    #wkof_ds #ss_quiz[data-result="correct"] .answer input {
        background-color: var(--color-quiz-correct-background) }
    #wkof_ds #ss_quiz[data-result="incorrect"] .answer input {
        background-color: var(--color-quiz-incorrect-background) }
    #ss_quiz[data-atype="reading"] .atype {
        background-color: var(--color-reading);
        background-image: none;
        color: var(--color-text-mid);
        border: none;
    }
    #ss_quiz .help, #ss_quiz .message {
        background-color: var(--color-menu);
        color: var(--color-text);
        border: none;
        box-shadow: 0 0 2px 2px #222;
    }
    
    /* Audio Quiz */
    label.switch::before { background-color: var(--color-dashboard-panel-content-background)}
    
    /* Forecast details: TODO */
    .review-forecast__bar.fcr_radical { background: var(--color-radical)}
    .review-forecast__bar.fcr_kanji { background: var(--color-kanji)}
    .review-forecast__bar.fcr_vocab { background: var(--color-vocabulary)}
    
    /* CIDWWA */
    .cidwwa-modal {
        background-color: var(--color-menu) !important;
        border: none !important;
        box-shadow: 3px 3px 4px #111;
    }
    .cidwwa-modal button {
        background-color: var(--color-menu);
        background-image: none;
        color: var(--color-text);
        border-color: var(--color-tertiary);
    }
    .cidwwa-modal button:hover {
        background-color: var(--color-menu);
        color: var(--color-tertiary);
    }
    .wk-custom-button {
        --focus-color: var(--color-tertiary) !important;
        --hover-color: color-mix(in srgb, var(--color-tertiary) 25%, #0000 75%) !important;
    }
    .wk-custom-button + .sitemap__expandable-chunk, .wk-custom-button + .sitemap__expandable-chunk:before {
        --dropdown-background: var(--color-menu) !important;
    }
    .es-mover-settings { color: var(--color-text) !important}
    
    /* Ultimate Timeline */
    #timeline, #timeline .review_info .inner {
        background-color: var(--color-dashboard-panel-background);
        margin-bottom: 30px;
        border-radius: 5px;
        padding: 0.5rem;
        border: none;
    }
    #timeline .review_info .item_list wk-character-image {
        --color-text: var(--color-text-dark); }
    #timeline .graph_panel {
        overflow: hidden !important; }
    #timeline .graph .bkgd {
        fill: transparent; }
    #timeline .graph .label-x > text, #timeline .graph .label-y > text, #timeline .graph .markers > path {
        fill: var(--color-text) }
    #timeline > .link:hover { color: var(--color-tertiary) }
    #timeline .graph .markers > .bur {
        fill: var(--color-burned);
        stroke: var(--color-tertiary);
    }
    #timeline .graph .rad, #timeline .review_info[data-mode="item_type"] .rad {
        fill: var(--color-radical) !important;
        background-color: var(--color-radical) }
    #timeline .graph .kan, #timeline .review_info[data-mode="item_type"] .kan {
        fill: var(--color-kanji) !important;
        background-color: var(--color-kanji) }
    #timeline .graph .voc, #timeline .review_info[data-mode="item_type"] .voc {
        background-color: var(--color-vocabulary);
        fill: var(--color-vocabulary) !important }
    #timeline .review_info[data-mode="srs_stage"] .summary div {
        background-image: none !important;
        color: var(--color-text-dark) }
    #timeline .review_info[data-mode="srs_stage"] .appr, #timeline .graph .appr {
        background-color: var(--color-apprentice);
        fill: var(--color-apprentice) }
    #timeline .review_info[data-mode="srs_stage"] .guru, #timeline .graph .guru {
        background-color: var(--color-guru);
        fill: var(--color-guru) }
    #timeline .review_info[data-mode="srs_stage"] .mast, #timeline .graph .mast {
        background-color: var(--color-master);
        fill: var(--color-master) }
    #timeline .review_info[data-mode="srs_stage"] .enli, #timeline .graph .enli {
        background-color: var(--color-enlightened);
        fill: var(--color-enlightened) }
    #timeline .bar_style select, #timeline > .link, #timeline .review_info .summary .tot, #timeline .detail_buttons button, #timeline .review_info button.item_type {
        background-color: var(--color-dashboard-panel-background);
        color: var(--color-text) !important;
    }
    #timeline .review_info .inner {
        box-shadow: 0px 2px 4px #111 }
    #timeline .review_info .inner, #timeline .review_info .bur, #timeline .review_info .summary .tot {
        background-color: var(--color-menu) !important;
        background-image: none !important;
    }
    #timeline .review_info .summary .item_type:first-child, #timeline .review_info .summary .srs_stage:nth-child(4), #timeline .review_info .summary .level:nth-child(8) {
        border-top-left-radius: 0.3em;
        border-top-right-radius: 0.3em;
    }
    #timeline .review_info .summary .item_type:nth-child(3), #timeline .review_info .summary .srs_stage:nth-child(7), #timeline .review_info .summary .level:nth-child(13) {
        border-bottom-left-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
    }
    #timeline .review_info .item_type, #timeline .review_info .item_type > span, #timeline .item_list > li {
        color: var(--color-text-dark) !important;
        background-image: none !important;
    }
    #timeline .review_info .rad svg {
        stroke: var(--color-text-dark); }
    
    /* Level Progress Dashboard Detail */
    .level-progress-dashboard {
        background-color: var(--color-dashboard-panel-background);
        border-radius: 8px;
    }
    .level-progress-dashboard .vocab-progress {
        margin: 0 20px;
        margin-top: 20px;
    }
    .level-progress-dashboard .vocab-progress ~ .vocab-progress {
        margin-top: 0 }
    
    /* Lesson Hover Details and Dashboard Progress Plus */
    .popover, .level-progress-dashboard__items .popover {
        background-color: var(--color-menu);
        border-color: var(--color-menu);
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        color: var(--color-text);
    }
    .popover.bottom .arrow, .popover.bottom .arrow:after {
        border-bottom-color: var(--color-menu) }
    .level-progress-dashboard__content .popover.left .arrow, .level-progress-dashboard__content .popover.left .arrow::after {
        border-left-color: var(--color-menu) }
    .level-progress-dashboard__content .popover.right .arrow, .level-progress-dashboard__content .popover.right .arrow::after {
        border-right-color: var(--color-menu) }

    .level-progress-dashboard__items .level-progress-dashboard__item.pct90 {
        background-color: var(--color-dashboard-panel-background) }
    
    [data-type="kanji"] .dpp-progress .subject-character:not(.subject-character--locked) .subject-character__characters {
        background-color: var(--color-kanji) !important;
        background-image: none !important;
    }
    [data-type="kanji"] .dpp-progress .subject-character--locked .subject-character__characters {
        background-color: var(--color-locked) !important;
        background-image: none;
    }
    [data-type="radical"] .dpp-progress .subject-character:not(.subject-character--locked) .subject-character__characters {
        background-color: var(--color-radical) !important;
        background-image: none !important;
    }
    [data-type="radical"] .dpp-progress .subject-character--locked .subject-character__characters {
        background-color: var(--color-locked) !important;
        background-image: none;
    }
    .level-progress-dashboard__content .level-progress-dashboard__item[data-srs-lvl="4"] > a, .level-progress-dashboard__content .level-progress-dashboard__item[data-srs-lvl="5"] > a, .level-progress-dashboard__content .level-progress-dashboard__item[data-srs-lvl="6"] > a {
        filter: brightness(0.85) }
      .level-progress-dashboard__content .level-progress-dashboard__item[data-srs-lvl="7"] > a, .level-progress-dashboard__content .level-progress-dashboard__item[data-srs-lvl="8"] > a {
        filter: brightness(0.7) }
    .level-progress-dashboard__content .level-progress-dashboard__item[data-srs-lvl="9"] > a > .subject-character > .subject-character__characters {
        background-color: var(--color-burned) !important;
        color: var(--color-text);
    }

    /* Stroke order diagram */
    .stroke_order_diagram--current_path {
        stroke: var(--color-tertiary) }
    .stroke_order_diagram--path_start {
        fill: var(--color-tertiary) }
    .stroke_order_diagram--guide_line, .stroke_order_diagram--bounding_box {
        stroke: var(--color-text-dark) }
}